<% provide(:title, "My Account") %>

<div class="divesite-list-content">
	<div class="list-title">
		<div class="list-title-contents">
			<h2>Welcome <%= @user.name %>!</h2>
		</div>
	</div>
	<div class="detail" style="margin-top: 80px">
		<p>My Profile</p>
		<hr class="details">
		<%= image_tag @user.image.url, class: 'my_image' %>

		<ul class="divesite-description">
			<li>Username: &nbsp;&nbsp;&nbsp; <%= @user.name%></li>
			<li>Email: &nbsp;&nbsp;&nbsp; <%= @user.email%></li>
		</ul>
		<div class="user_button"><%= link_to "Update Your Profile", edit_user_registration_path %></div>
	</div>
	<div class="detail">
		<p>Posted Reviews</p>
		<hr class="details">
		<% if @comments.any? %>
		<ul class="divesite-description">
			<% @comments.each do |comment| %>
				<li style="line-height: 25px"><u><%= link_to "#{comment.comment.truncate(50)} ( #{comment.divesite.name} )", divesite_path(id: comment.divesite_id) %></u> <span style="padding-left: 25px" class="review_update_button"><%= link_to "Edit", edit_comment_path(comment) %> <%= link_to "Delete", comment_path(comment), method: :delete %></span>
				</li>
			<% end -%>
		</ul>
		<% else %>
			<p class="notification">You don't have reviews</p>
		<% end -%>
	</div>
	<div class="detail">
		<p>Divesite Recommendations</p>
		<hr class="details">
		<ul class="divesite-description">
			<li>Username: &nbsp;&nbsp;&nbsp; <%= @user.name%></li>
			<li>Email: &nbsp;&nbsp;&nbsp; <%= @user.email%></li>
		</ul>
	</div>

</div>