<div class="detail" style="margin-top: 150px; margin-bottom: 200px">
	<p>Update a review</p>
	<div class="form">
		<%= form_for(@comment, url: comment_path, method: :patch, class: "comment_form") do |f| %>
			<div>
			<%= f.text_area :comment %>
			</div>
			<%= f.submit "Update Review" %>
		<% end -%>
	</div>
</div>