<% provide(:title, "Top") %>
<div class="top">
	<div class="top-image">
		<div class="top-welcome">
			<h2>Welcome to DiveNuts</h2>
			<hr>
			<div style="float: right;">
				<p>Ready to discover a perfect dive site for your next trip?</p>
				<br>
				<p>We will help you to find the best destination with a fabulous experience.</p>
			</div>
		</div>
	</div>
</div>
<div class="about">
	<p>We will help scuba divers to choose their perfect next dive sites based on your prefferred location and features. This is more gaming style app, so feel free to enjoy and discover unexpected dive sites that match your desire.<br><br>
                        Only exceptional fun dive sites from all around the world will be shown you.
                        Please join us through signing up, so you can enjoy DiveNuts much more. </p>
    <h3>Let's get started finding your next destination!</h3>
    <a href="#primary-questions"><i class="fa fa-angle-double-down fa-2x"></i></a>
</div>

<div id="primary-questions">
	<div class="primary-questions-area">
		<p>Are you looking for next dive site for ..</p>
		<hr class="details">
		<div class="align-buttons">
			<a href="" id="beginners">Fun Seekers</a>
			<a href="" id="advanced">Advanced Divers</a>
		</div>
	</div>
</div>

<div id="for-fun-seakers">
	<div id="area-map">
		<div class="area-select">
			<h3>1. Which area would you like to dive?</h3>
			<p>Choose one area you wish to dive from below button.</p>
			<!-- f.collection_select <属性名>, <表示させるモデル>, <渡す値>, <モデルから表示させるカラム>, prompt: <デフォルト表示文字> -->
			<%= form_for :fun_dive_search, url: divesites_path, method: :get do |f| %>
				<%= f.collection_select :area_id, Area.all, :id, :name, prompt: "Choose Area" %>
			<p class="googlemaps"><a href="https://www.google.com/maps"> >> Check areas on map</a></p>
		</div>
	</div>
	<div id="experience">
		<div class="experience-select">
			<h3>2. What would you expect?</h3>
			<p>Choose up to two experiences you wish for next diving.</p>
			<div class="select-buttons">
				<p>1st select &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></p>
				<%= f.collection_select :experience_1, Experience.all, :id, :name, prompt: "Choose Experience" %><br><br>
				<p>2nd select &nbsp;<i class="fa fa-arrow-circle-right"></i></p>
				<%= f.collection_select :experience_2, Experience.all, :id, :name, prompt: "Choose Experience" %>
			</div>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<%= f.submit 'Check Out Divesites', class: 'submit' %>
		<% end -%>
		</div>
	</div>
</div>

<div id="for-advanced-divers">
	<div id="area-map">
		<div class="area-select">
			<h3>Coming Soon</h3>
		</div>
	</div>
	<div id="experience">
		<div class="experience-select">
			<h3>Coming Soon</h3>
		</div>
	</div>
</div>

<div id="sign-up">
	<div class="sign-up-content">
		<% if user_signed_in? %>
			<p>Build DiveNuts API with us ! Tell me your recommended dive sites.</p>
			<%= link_to 'Build DiveNuts API', guests_show_path(id: current_user.id) %>
		<% else %>
			<p>Sign up now and enjoy more scuba diving with DiveNuts !</p>
			<%= link_to 'Sign Up', new_user_registration_path %>
		<% end -%>
	</div>
</div>

