<% provide(:title, "Choose a site") %>

<div class="divesite-list-content">
	<% if @divesites.any? %>
	<div class="list-title">
		<div class="list-title-contents">
			<h2><%= @divesites.first.area.name %></h2>
			<p>Total <%= @divesites.count%> sites</p>
		</div>
	</div>

	<% @divesites.each do |site| %>
	<div class="divesite-container">
		<div class="divesite-list">
			<div class="divesite-list-info">
				<tr>
					<th><%= site.name %></th>
					<br>
					<th><%= site.country.name %></th>
					<br><br>
					<th>
						<%= link_to '>>> See details', divesite_path(id: site) %>
					</th>
				</tr>
			</div>
			<div class="divesite-list-map">
				<iframe src="https://www.google.com/maps?q=<%= site.lat %>,<%= site.long %>&output=embed&z=10" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<hr class="divesite-list-hr">
	<% end -%>
	<% else %>
		<div class="list-title">
			<div class="list-title-contents">
				<h4 style="line-height: 30px">Sorry, there is no divesites that match your selection.<br>
				Please try with different options.</h4>
				<div class="align-buttons">
					<%= link_to "Top Page", root_path %>
				</div>
			</div>
		</div>
	<% end -%>
</div>