<% provide(:title, "Divesite") %>

<div class="divesite">
	<div class="divesite-titles">
		<div class="slider-container">
			<ul class="slider">
				<li><img class="img" src="<%= @divesite.image_1 %>"></li>
				<li><img class="img" src="<%= @divesite.image_2 %>"></li>
				<li><img class="img" src="<%= @divesite.image_3 %>"></li>
			</ul>
		</div>
		<p class="divesite-name"><%= @divesite.name %></p>
		<hr class="details" style="margin-top: -1px">
		<p class="divesite-country"><%= @divesite.country.name %></p>
	</div>
	<div class="divesite-details">
		<div class="detail">

			<p class="divesite-info">Dive site information of <b><%= @divesite.name %></b></p>
			<% if user_signed_in? %>
				<%= link_to like_divesite_path(@divesite) do %>
				  <i class="fa <%= @divesite.like_from?(current_user)? "fa-heart active" : "fa-heart-o" %> fa-2x"></i><!-- いいねを押してない時 -->
				<% end %>
			<% end -%>
			<hr class="details" style="clear: both;">
			<ul class="divesite-description">
				<li>Country: &nbsp;&nbsp;&nbsp;<%= @divesite.country.name %></li>
				<li>Level: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @divesite.level.name %></li>
				<li>Style: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @divesite.style.name %></li>
				<li>Best season: &nbsp;&nbsp;&nbsp;<%= @divesite.season %></li>
				<li>Site description:<br><br> <%= @divesite.feature %></li>
			</ul>
		</div>

		<% if user_signed_in? %>
		<div class="detail">
			<p>Leave a review</p>
			<p class="notification">Please leave a review in case you have been to this site for diving</p>
			<div class="form">
				<%= form_for(Comment.new, url: comments_path, method: :post, class: "comment_form") do |f| %>
					<div>
					<%= f.text_area :comment %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field :divesite_id, value: @divesite.id %>
					</div>
					<%= f.submit "Post Review", class: 'submit_button' %>
				<% end -%>
			</div>
		</div>
		<% end -%>
		<div class="detail-comments">
			<div class="detail">
				<p>Comments by users who've been to this site</p>
				<hr class="details">
				<% if @comments.any? %>
					<% @comments.each do |comment| %>
						<div class="comments">
							<div>
								<%= image_tag comment.user.image.url(:thumb), class: 'thumb_img' %>
								<%= comment.user.name %><span class="date"><%= comment.updated_at.strftime('%Y/%m/%d') %></span>
							</div>
							<p><%= comment.comment %></p>
						</div>
					<% end -%>
					<% else %>
						<p class="notification">There is no reviews at this moment.</p>
				<% end -%>
			</div>
			<div class="users-divesites">
				<p class="users-divesites-button">Check out nearby dive sites recommended by other users &nbsp;<i class="fa fa-chevron-circle-down"></i></p>
			</div>
		</div>

		<div class="users-divesites-container">
			<div class="users-divesites-contents">
				<p>Recommended dive sites nearby <b><%= @divesite.name %></b></p>
				<hr class="details">
				<p><%= Divesite.first.name %></p>
				<ul class="divesite-description">
					<li>Country: &nbsp;&nbsp;&nbsp;<%= Divesite.first.country.name %></li>
					<li>Level: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= Divesite.first.level.name %></li>
					<li>Style: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= Divesite.first.style.name %></li>
					<li>Best season: &nbsp;&nbsp;&nbsp;<%= Divesite.first.season %></li>
				</ul>
				<hr class="details">
			</div>
		</div>
		<% unless user_signed_in? %>
			<div class="registration">
				<div class="sign-up-content-show">
					<p>You can post reviews to your favorite dive sites and help us to build dive site API after signing up with DiveNuts. <br><br> 
					TO GET MORE EXPERIENCE WITH US</p>
					<%= link_to 'Sign Up', new_user_registration_path %>
				</div>
			</div>
		<% end -%>
	</div>
</div>

