.devise-wrap {
	text-align: center;
	padding: 100px 0 70px;
}

.devise-container {
	margin: auto;
	padding: 50px 0;
	background-color: #d9d9d9;
	width: 70%;
}

.field {
	padding: 20px 0;
}

.actions {
	padding: 15px 0;
}

div.alert {
	text-align: center;
}

#error_explanation h2 {
	font-size: 15px;	
} 