.divesite {
	width: 100%;
}

.divesite-titles {
	overflow: hidden;
	background: #000;
}

.slider-container {
	width: 60%;
	float: left;
    margin-top: 30px;
}

.img {
    width: 100%;
    height: 470px;
	object-fit: cover;
    margin-left: -40px
}
.divesite-title {
	display: flex;
}

p.divesite-name {
	color: #fff;
	display: flex;
	font-size: 30px;
	padding: 25% 0 0 10%;
}

@media (min-width: 903px) {
	p.divesite-name {
		padding-top: 220px;
	}
}

p.divesite-country {
	display: flex;
	font-size: 15px;
	padding-left: 10%;
	margin-top: -17px;
	color: #a6a6a6;
}

.divesite-details {
	margin-top: 80px;
	/*margin-bottom: 100px;*/
}

.detail {
	margin: 0 auto;
	width: 70%;
	padding-bottom: 50px;
	p {
		font-size: 20px;
	}
}
.detail-comments {
	padding-top: 50px;
	/*background-color: #808080;*/
	background-color: #404040;
	margin: 0 auto;
	width: 100%;
	padding-bottom: 50px;
	p {
		font-size: 20px;
		color: #fff;
	}
}

hr.details {
	border: none;
    border-top: solid 1px #CCCCCC;
    height: 1px;
    color: #FFFFFF;
}

.divesite-description {
	padding-top: 30px;
	font-size: 16px;
	li {
		padding-bottom: 10px;
	}
}

.upload_image {
	margin: 0 auto;
}

.my_image {
	float: left;
	border-radius: 140px;
	/*margin-bottom: 20px;*/
	/*margin: 0 50px 50px 0;*/
	margin-right: 50px;
}

.submit_button {
	margin-bottom: 30px;
}

.thumb_img {
	border-radius: 50px;
	margin-right: 20px;
}

.comments {
	margin-top: 30px;
	background: #d9e6f2;
	background-color: #fff;
	/*background-color: #00004d;*/
	/*background: #fdf4ca;*/
	padding: 20px 20px;
	border-radius: 5px;
	p {
		font-size: 13px;
		padding: 0 10px;
		color: #000;
	}
	span.date {
		font-size: 12px;
		float: right;
	}
	div {
		margin-bottom: 10px;
	}
	img {
		float: left;
	}
}




/*.users-divesites-container {
	width: 100%;
	background: #e6e6e6;
}*/


.users-divesites {
	margin: 0 auto;
	width: 70%;
	margin-top: 30px;
	/*margin-bottom: 80px;*/
	p {
		font-size: 14px;
		cursor: pointer;
		&:hover {
			color: #5c85d6;
			text-decoration: underline;
		}
	}
}

.users-divesites-container {
	background: #e6e6e6;
	padding-bottom: 30px;
	display: none;
}

.users-divesites-contents {
	padding-top: 70px;
	width: 70%;
	margin: 0 auto;
	p {
		font-size: 20px;
	}
}

.registration {
	background-color: #e6e6e6;
	width: 100%;
	margin: 0 auto;
	p {
		font-size: 20px;
	}
}

.sign-up-content-show {
	padding: 70px 0 100px;
	color: #5c85d6;
	text-align: center;
	p {
		font-size: 18px;
		padding-bottom: 40px;
	}
	a {
		background-color: #fff;
		text-decoration: none;
		border: solid 1px #5c85d6;
		color: #5c85d6;
		font-size: 21px;
		border-radius: 3px;
		padding: 20px 150px;
		/*flex-grow: 0;*/
		&:hover {
			/*color: #ffcc00;*/
			color: #5c85d6;
			border: solid 1px #5c85d6;
			font-weight: bold;
		}
	}
}

.notification {
	font-size: 14px !important;
	color: #999999;
}

#comment_comment {
	width: 100%;
	border-radius: 7px;
	height: 100px;
	color: #595959;
	margin-bottom: 15px;
}

.fa-heart, .fa-heart-o {
	float: right;
}

.divesite-info {
	float: left;
	padding-bottom: 10px;
}
