.divesite-list-content {
	width: 100%;
	margin-bottom: 500px;
}


.list-title {
	/*width: 100%;*/
	/*height: 800px;*/
	background-image: url(/assets/shark.jpg);
    background-size: cover;
    background-position: left bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;

	padding: 80px;
	margin-bottom: 20px;
	/*width: 70%;*/
	text-align: center;
	/*margin-top: 130px;*/
}

.list-title-contents {
	padding: 50px 0 10px;
	color: #fff;
	p {
		margin: 0 0 60px;
	}
}

hr.divesite-list-hr {
	border: none;
    border-top: solid 1px #CCCCCC;
    height: 1px;
    color: #FFFFFF;
    padding: 0 100px;
    /*width: 70%;*/
    margin: 0 40px;

}


.divesite-container {
	margin: 60px 40px;
	border-radius: 4px;
	&:hover {
		box-shadow: 0 4px 15px 0 #d9d9d9;



	/*box-shadow: 5px 5px 10px 2px #d9d9d9;*/
	 /*-webkit-box-shadow: 5px 5px 10px #d9d9d9;*/
	 /*-moz-box-shadow: 5px 5px 10px #d9d9d9;*/
	}
}

.divesite-list {
	overflow: hidden;
	margin: 0 auto;
	width: 65%;
	/*display: flex;*/
	/*justify-content: space-around;*/
	font-size: 17px;
	/*padding: 70px 150px;*/
	padding: 30px 0;
}

.divesite-list-info {
	float: left;
	padding-top: 60px;
	/*flex-grow: 0;*/
	/*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    br {
    	padding-bottom: 20px;
    }
}

.divesite-list-map {
	float: right;
	width: 330px;
	height: 250px;
	background: gray;
	/*flex-grow: 0;*/
}