@import "bootstrap-sprockets";
@import "bootstrap";


body {
	font-family: 'Optima';
}

.navbar {
	background: #000000 !important;
	transition: .3s;
}
.title {
	color: #ffcc00;
	padding-top: 12px;
	/*font-weight: bold;*/
	font-size: 20px;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

#js-scroll-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	opacity: 0.6;
	z-index: 1;
	display: none;
	color: #94d1d1;
}



/* footer */

.footer {
	background: #000;
	height: 200px;
}
footer {
  /*margin-top: 15px;*/
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #9d9d9d;
  a {
	  color: #9d9d9d;
  	&:hover {
	 	 color: #fff;
	 	 text-decoration: none;
  	}
  }
  small {
  	padding-left: 50px;
  	padding-top: 20px;
    float: left;
  }
  ul {
  	padding-right: 50px;
  	padding-top: 20px;
	float: right;
	list-style: none;
  	li {
	  float: left;
	  margin-left: 15px;
  	}
  }
}

/*top-page*/

.top-image {
	width: 100%;
	height: 800px;
	background-image: url(/assets/scuba-top.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
.top-welcome {
	color: #fff;
	/*text-align: center;*/
	position: absolute;
	width: 70%;
	top: 50%;
	left: 50%;
	/*配置のズレを矯正*/
	transform: translate(-50%, -50%);
	h2 {
		font-size: 41px;
		padding-bottom: 5px;
	}
	p {
		/*text-align: center;*/
		font-size: 15px;
		margin-bottom: -8px;
		float: right;
	}
}


#primary-questions {
	background: #404040;
	/*padding: 10px 0;*/
}

.primary-questions-area {
	padding: 70px 80px 90px;
	p {
		color: #fff;
		text-align: center;
		font-size: 18px;
	}
}

.align-buttons {
	width: 100%;
	display: flex;
	justify-content: space-around;
	a {
		text-decoration: none;
		color: #fff;
		font-size: 20px;
		margin-top: 20px;
		border: solid 1px #999;
		border-radius: 3px;
		padding: 20px;
		width: 360px;
		text-align: center;
		flex-grow: 0;
		&:hover {
			color: #66b3ff;
			border: solid 1px #66b3ff;
		}
	}
}

.about {
	text-align: center;
	margin: 65px 100px;
	p {
		padding-top: 20px;
	}
	h3 {
		padding-bottom: 10px;
	}
}

#for-fun-seakers {
	display: none;
}

#area-map {
	/*transition: all 1s ease-out;*/
	width: 100%;
	padding: 220px;
	/*height: 430px;*/
	/*padding-bottom: 20px;*/
	background-image: url(/assets/papermap.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.area-select {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	h3 {
		color: #fff;
		/*font-weight: bold;*/
		font-size: 34px;
		text-shadow:2px 2px 2px #404040;
	}
	p {
		color: #fff;
		font-size: 17px;
		padding-bottom: 22px;
		text-shadow:2px 2px 2px #404040;

	}
	p.googlemaps {
		padding-top: 16px;
	}
	a {
		color: #fff;
		font-size: 14px;
		text-decoration: none;
		&:hover {
			color: #ff3300;			
		}
	}

}

#for-advanced-divers {
	display: none;
}

#experience {
	width: 100%;
	/*heightを指定すると、前ブロックでposition指定している時、高さの影響を受けるのを防げる*/
    /*height: 300px;*/
    position: relative;
    padding: 200px 0;
}

.experience-select {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	p {
		/*padding-bottom: 20px;*/
		font-size: 17px;
	}
	h3 {
		/*font-weight: bold;*/
		font-size: 34px;
	}
}

.select-buttons {
	padding-top: 10px;
	p {
		float: left;
		width: 130px;
	}
}


.submit {
	width: 300px;
    height: 55px;
    font-size: 20px;
    color: #006699;
    margin-top: 20px;
    background: #e6f7ff;
    border-radius: 3px;
    border: solid 1px #006699;
    &:hover {
    	background: #cce6ff;
    	border: 0;
    	font-weight: bold;
    }
}


#sign-up {
	width: 100%;
	height: 380px;
	background-image: url(/assets/diver.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.sign-up-content {
	padding: 120px 0;
	color: #fff;
	text-align: center;
/*	display: flex;
	justify-content: space-around;*/
	p {
		font-size: 18px;
		padding-bottom: 40px;
		/*flex-grow: 0;*/
	}
	a {
		text-decoration: none;
		border: solid 1px #fff;
		color: #fff;
		font-size: 21px;
		border-radius: 3px;
		padding: 20px 150px;
		/*flex-grow: 0;*/
		&:hover {
			/*color: #ffcc00;*/
			color: #ff3300;
			border: solid 1px #ff3300;
			font-weight: bold;
		}
	}
}

