// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_button {
	clear: both;
	width: 100%;
	margin: 20px 0 30px;
	padding-top: 30px;
	/*display: flex;*/
	justify-content: space-around;
	a {
		text-decoration: none;
		/*color: #fff;*/
		font-size: 15px;
		margin-top: 20px;
		/*border: solid 1px #f69088;*/
		border-radius: 3px;
		padding: 10px 30px;
		width: 360px;
		text-align: center;
		/*color: #f14d41;*/
		color: #ffffff;
		background-color: #f8a6a0;
		/*flex-grow: 0;*/
		&:hover {
			color: #ffffff;
			/*border: solid 1px #d51d10;*/
			background-color: #f36359;
		}
	}
}

.review_update_button {
	width: 100%;
	margin: 10px 0 30px;
	/*display: flex;*/
	justify-content: space-around;
	a {
		color: #fff;
		font-size: 15px;
		/*margin-top: 20px;*/
		/*border: solid 1px #999;*/
		border-radius: 3px;
		padding: 5px 10px;
		background-color: #94d1d1;
		/*width: 360px;*/
		/*text-align: center;*/
		/*flex-grow: 0;*/
		&:hover {
			/*color: #66b3ff;*/
			/*border: solid 1px #66b3ff;*/
			text-decoration: none;
			background-color: #00cccc;
		}
	}
}

.alert {
  position: fixed;
  background-color: #fff;
  opacity: 0.7;
  margin: 50px 0 0 0;
  width: 100%;
  z-index: 1000;
  &-success, &-notice {
    color: #193a9f;
    background-color: #b4daff;
    border-color: #d0d9f7;
  }
  &-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  &-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  &-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}