<footer class="footer">
  <small>
    <a href="">DiveNuts</a>
    by <a href="">GN</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About" %></li>
      <li><%= link_to "Contact" %></li>
      <li><a href="">News</a></li>
    </ul>
  </nav>
</footer>