<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
	    <nav>
			<%= link_to "DiveNuts", root_path, class: "title navbar-nav" %>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>
				<% if user_signed_in? %>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
					<li><%= link_to "My Account", guests_show_path(id: current_user) %></li>
				<% else %>
					<li><%= link_to "Sign Up", new_user_registration_path %></li>
					<li><%= link_to "Log In", new_user_session_path %></li>
				<% end -%>
			</ul>
	    </nav>
	</div>
</header>

<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->