<head>
	<title><%= full_title(yield(:title)) %></title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<div id="js-scroll-top"><i class="fa fa-arrow-circle-up fa-3x"></i></div>
	<!-- GoogleMaps -->
<!-- 	<script src="//maps.google.com/maps/api/js?key=[your API key]"></script>
	<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
	<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script> -->
</head>
