<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body data-turbolinks="false">
    <!-- tubolink有効だとJSがリロード無しで動かない。上記追加記述で特定のページでtubolinkが切れる -->
    <%= render 'layouts/header' %>

    <!-- https://qiita.com/Yama-to/items/4d19a714d8bf5bfbabdd -->
    <!-- https://pg-happy.jp/rails-flash-message.html -->
    <% flash.each do |type, message| %>
    	<%= content_tag(:div, message, class: "alert alert-#{type}") %>
    <% end -%>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <script>
      window.setTimeout(() =>{
        $(".alert").slideUp();
      }, 3000)
    </script>
  </body>
</html>
